/BobWelcomes.class
/Calculator.class
/ChangingNames.class
/ClassRoster.class
/DayOfWeek.class
/DirtyDishes.class
/EvenOddProgram.class
/HalfTime.class
/HalfTime1.class
/Human.class
/LetsMakeMagic.class
/PasswordCheck.class
/Simple.class
/StringContains.class
/Test2.class
/Test3.class
/Test4.class
/blackJack.class
/missouri.class
/multiplicationTable.class
/noFourOrOne.class
/noLY.class
/nonStart.class
/weatherStates.class
